SELF="http://localhost:9111"
OIDC_ISSUER="http://127.0.0.1:5556/dex"
OIDC_CLIENT_ID="local"
OIDC_CLIENT_SECRET="local"
REQUIRED_OIDC_GROUP="authors"

STORAGE_ENDPOINT="http://localhost:9100"
STORAGE_SECURE="false"
STORAGE_PATH_STYLE="true"
STORAGE_CONNECTION_STRING="s3://mship"
AWS_ACCESS_KEY_ID="minioadmin"
AWS_SECRET_ACCESS_KEY="minioadmin"

export SELF OIDC_ISSUER OIDC_CLIENT_ID OIDC_CLIENT_SECRET REQUIRED_OIDC_GROUP
export STORAGE_ENDPOINT STORAGE_SECURE STORAGE_PATH_STYLE STORAGE_CONNECTION_STRING AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY